<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAGDjmDZjwPSVTNTVoEWg9YYgf6-m4cnRY</string>
	<key>GCM_SENDER_ID</key>
	<string>830204697281</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.tappy-mvp</string>
	<key>PROJECT_ID</key>
	<string>tappy-31716</string>
	<key>STORAGE_BUCKET</key>
	<string>tappy-31716.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:830204697281:ios:c94c1bf9cb7aec51b6d240</string>
</dict>
</plist>